<div class="container-fluid">
  <h3 class="grey-text text-darken-2 center">Leaves</h3>
  <div class="row">
    <div class="col s12 m3 center">
      <div class="z-depth-5 card blue-grey darken-1">
        <div class="card-image">
          <img
            src="https://avatars.dicebear.com/api/avataaars/:seed77.svg"
            class="circle responsive-img"
            alt=""
          />
        </div>
        <div class="card-action">
          <span class="card-title white-text flow-text"
            ><%= user.firstName %> <%= user.lastName %></span
          >
        </div>
      </div>
    </div>
    <div class="col s12 m5">
      <div class="grey lighten-1 card">
        <div class="card-content">
          <div class="card-title">
            <h5>Manage subscription for month of <%= month.text %>.</h5>
          </div>
          <hr />
          <form action="/leaves" method="post">
            <div class="row">
              <input type="hidden" value="<%= month.value %>" name="month" />
              <div class="input-field">
                <select id="dateList" name="date">
                  <option value="" disabled selected>Select date</option>
                  <% if(dateList){ %> <% for(date of dateList){ %>
                  <option value="<%= date.date %>"><%= date.date %></option>
                  <% } %><% }else{ %>
                  <option value="" disabled>No dates available</option>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="row">
              <p>
                <input
                  type="checkbox"
                  name="lunch"
                  class="filled-in checkbox"
                  id="lunch"
                  checked
                />
                <label for="lunch" class="black-text">Lunch</label>
              </p>
            </div>
            <div class="row">
              <p>
                <input
                  type="checkbox"
                  name="dinner"
                  class="filled-in checkbox"
                  id="dinner"
                  checked
                />
                <label for="dinner" class="black-text">Dinner</label>
              </p>
            </div>
            <input type="submit" value="Apply" class="btn" />
          </form>
        </div>
      </div>
    </div>
    <div class="col s12 m4 center">
      <div class="white darken-3 input-field col s12">
        <select class="leaves-month-selector">
          <option value="" disabled selected>Change Month</option>
          <% if(monthList){ %> <% for(month of monthList){ %>
          <option value="<%= month.value %>"><%= month.text %></option>
          <% } %><% }else{ %>
          <option value="" disabled selected>Year ends</option>
          <% } %>
        </select>
      </div>
      <br /><br /><br /><br />
      <div class="z-depth-5 card blue-grey">
        <div class="card-content">
          <div class="card-title white-text">Leaves</div>
          <table class="striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Lunch</th>
                <th>Dinner</th>
              </tr>
            </thead>
            <tbody>
              <% if(leaveList){ %> <% for(leave of leaveList){ %>
              <tr>
                <td><%= leave.date %></td>
                <td><%= leave.lunch %></td>
                <td><%= leave.dinner %></td>
              </tr>
              <% } %><% }else{ %>
              <tr>
                <td colspan="3" class="center">No Leave applied yet</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
